node-red/news.json
[
    {
        "id": "5ae7a9a.f6b6758",
        "type": "tab",
        "label": "News",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a23867c8.1eda28",
        "type": "inject",
        "z": "5ae7a9a.f6b6758",
        "name": "Every 15 Min.",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "40c9bc9b.d81d44"
            ]
        ]
    },
    {
        "id": "fee6098d.721d98",
        "type": "debug",
        "z": "5ae7a9a.f6b6758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 240,
        "wires": []
    },
    {
        "id": "40c9bc9b.d81d44",
        "type": "http request",
        "z": "5ae7a9a.f6b6758",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.tagesschau.de/xml/rss2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "690b945d.5f4ecc"
            ]
        ]
    },
    {
        "id": "690b945d.5f4ecc",
        "type": "xml",
        "z": "5ae7a9a.f6b6758",
        "name": "xmlDoc",
        "property": "payload",
        "attr": "A",
        "chr": "B",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "95df84db.ee4bc8"
            ]
        ]
    },
    {
        "id": "95df84db.ee4bc8",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "formatter",
        "func": "var message = {};\nmessage.payload = {};\nvar temp = {};\ntemp = msg.payload.rss.channel[0].item;\n\n\nfor (var i in temp){\n    message.payload[i] = {};\n    message.payload[i].title = temp[i].title[0];\n    message.payload[i].description = temp[i].description[0];\n}\n\nglobal.set(\"news\", message.payload);\n\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 240,
        "wires": [
            [
                "fee6098d.721d98"
            ]
        ]
    },
    {
        "id": "553aeeae.de0d4",
        "type": "link out",
        "z": "5ae7a9a.f6b6758",
        "name": "News-Out",
        "links": [
            "d8f147bb.ccdd68"
        ],
        "x": 1195,
        "y": 420,
        "wires": []
    },
    {
        "id": "8f357733.b285a8",
        "type": "link in",
        "z": "5ae7a9a.f6b6758",
        "name": "News-In",
        "links": [
            "652b599d.8452a8"
        ],
        "x": 141,
        "y": 420,
        "wires": [
            [
                "40b6c52b.c67d1c"
            ]
        ]
    },
    {
        "id": "aaa261da.ac96f",
        "type": "comment",
        "z": "5ae7a9a.f6b6758",
        "name": "News",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "12b8c541.dd12ab",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "get title",
        "func": "var temp = flow.get(\"newsIndex\");\nmsg.payload = msg.payload + global.get(\"news\")[temp].title;\nmsg.ttsId = \"news\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 420,
        "wires": [
            [
                "553aeeae.de0d4"
            ]
        ]
    },
    {
        "id": "5d089a8.67da064",
        "type": "link out",
        "z": "5ae7a9a.f6b6758",
        "name": "News-Command-Request-Out",
        "links": [
            "813a0bca.186508"
        ],
        "x": 715,
        "y": 780,
        "wires": []
    },
    {
        "id": "1c0d752f.3134db",
        "type": "link in",
        "z": "5ae7a9a.f6b6758",
        "name": "News-Command-Request-In",
        "links": [
            "66252eca.a7ba3",
            "874686c1.6c8fa8"
        ],
        "x": 135,
        "y": 520,
        "wires": [
            [
                "e86ba1f9.a3b49"
            ]
        ]
    },
    {
        "id": "423800e0.032b2",
        "type": "switch",
        "z": "5ae7a9a.f6b6758",
        "name": "",
        "property": "intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NextNews",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MoreNews",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Stop",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 456,
        "y": 520,
        "wires": [
            [
                "cf6bfd46.b1643"
            ],
            [
                "27e1f846.0e9188"
            ],
            [
                "272ac6cc.64549a"
            ],
            [
                "564c1b31.bc9e84"
            ]
        ]
    },
    {
        "id": "40b6c52b.c67d1c",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "setup feature",
        "func": "msg = {};\nflow.set(\"newsIndex\", 0);\nmsg.payload = \"Nachrichten der tagesschau / / \"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "12b8c541.dd12ab"
            ]
        ]
    },
    {
        "id": "cf6bfd46.b1643",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "increase index",
        "func": "msg = {};\nvar temp = flow.get(\"newsIndex\");\ntemp++\nif (temp > 9){\n    temp = 0;\n    msg.payload = \"Das waren alle aktuellen Nachrichten\";\n}else{\n    msg.payload = \"\";\n}\nflow.set(\"newsIndex\", temp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "76ef24f9.45f25c"
            ]
        ]
    },
    {
        "id": "76ef24f9.45f25c",
        "type": "switch",
        "z": "5ae7a9a.f6b6758",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 500,
        "wires": [
            [
                "12b8c541.dd12ab"
            ],
            [
                "553aeeae.de0d4"
            ]
        ]
    },
    {
        "id": "27e1f846.0e9188",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "get description",
        "func": "msg = {};\nvar temp = flow.get(\"newsIndex\");\nmsg.payload = global.get(\"news\")[temp].description;\nmsg.ttsId = \"news\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 560,
        "wires": [
            [
                "553aeeae.de0d4"
            ]
        ]
    },
    {
        "id": "272ac6cc.64549a",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "stop feature",
        "func": "msg = {};\nmsg.payload = \"Alles klar\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 750,
        "y": 600,
        "wires": [
            [
                "553aeeae.de0d4"
            ]
        ]
    },
    {
        "id": "564c1b31.bc9e84",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "failure",
        "func": "msg = {};\nmsg.payload = \"Entschuldigung ich habe dich nicht verstanden\";\nmsg.ttsId = \"news\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 640,
        "wires": [
            [
                "553aeeae.de0d4"
            ]
        ]
    },
    {
        "id": "561f8f11.4f9da",
        "type": "link in",
        "z": "5ae7a9a.f6b6758",
        "name": "",
        "links": [
            "745640e0.69d7c"
        ],
        "x": 135,
        "y": 780,
        "wires": [
            [
                "7bcbf659.6f8778"
            ]
        ]
    },
    {
        "id": "2dd561f4.6a906e",
        "type": "debug",
        "z": "5ae7a9a.f6b6758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 840,
        "wires": []
    },
    {
        "id": "7bcbf659.6f8778",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "set source",
        "func": "var source = msg.payload.id.split(\"I\")[0];\nif (source === \"news\"){\n    return {\"commandRequestId\": \"news\"};\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 780,
        "wires": [
            [
                "2dd561f4.6a906e",
                "128a8e0d.949522"
            ]
        ]
    },
    {
        "id": "128a8e0d.949522",
        "type": "delay",
        "z": "5ae7a9a.f6b6758",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 780,
        "wires": [
            [
                "5d089a8.67da064"
            ]
        ]
    },
    {
        "id": "e86ba1f9.a3b49",
        "type": "function",
        "z": "5ae7a9a.f6b6758",
        "name": "filter by source",
        "func": "var source = msg.sessionId.split(\"I\")[0];\nif (source === \"news\"){\n    return msg;\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "423800e0.032b2"
            ]
        ]
    },
    {
        "id": "6c3f66f2.0a3b68",
        "type": "start-up-trigger",
        "z": "5ae7a9a.f6b6758",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "40c9bc9b.d81d44"
            ]
        ]
    },
    {
        "id": "f21363b7.37c71",
        "type": "comment",
        "z": "5ae7a9a.f6b6758",
        "name": "Read news",
        "info": "",
        "x": 160,
        "y": 320,
        "wires": []
    },
    {
        "id": "c8772fef.83e65",
        "type": "comment",
        "z": "5ae7a9a.f6b6758",
        "name": "update news",
        "info": "",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "bb912235.f32ae",
        "type": "comment",
        "z": "5ae7a9a.f6b6758",
        "name": "Loop",
        "info": "",
        "x": 150,
        "y": 700,
        "wires": []
    }
]