node-red/time_alarm_timer.json
[
    {
        "id": "b105e2ff.0c3ab",
        "type": "tab",
        "label": "Time/Alarm/Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18c18aff.825525",
        "type": "comment",
        "z": "b105e2ff.0c3ab",
        "name": "Time-Request",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "c0fff348.6ea8f",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "time request",
        "func": "message = {};\n// Get Time and convert it to hours (time[0]) and minutes (time[1])\ntime = new Date().toISOString();\ntime = time.split(\"T\")[1].split(\".\")[0];\ntime = time.split(\":\");\n// Adjust time to our timezone and crops it to 24h\ntime[0] = (parseInt(time[0])+1)\nif (time[0] >= 25){\n    time[0] -=24;\n}\n// Adjust time to spell \"9\" instead of \"09\" \n// and e.g. \"12 Uhr\" instead of \"12 Uhr 0\"\ntime[1] = parseInt(time[1])\nif (time[1] === 0){\n    time[1] = \"\";\n}\n// Create text to be spoken by MaryTTS\nmessage.payload = \"Es ist \" + time[0] + \" Uhr \" + time[1];\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "52a695dd.8ea82c"
            ]
        ]
    },
    {
        "id": "52a695dd.8ea82c",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "Time-Request-Out",
        "links": [
            "24c67ec.ea70882",
            "d8f147bb.ccdd68"
        ],
        "x": 555,
        "y": 360,
        "wires": []
    },
    {
        "id": "edf6539.fdb5bb",
        "type": "comment",
        "z": "b105e2ff.0c3ab",
        "name": "Alarm",
        "info": "",
        "x": 170,
        "y": 500,
        "wires": []
    },
    {
        "id": "73b3e363.b668cc",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "protection",
        "func": "//prevents some errors and sets undefined minutes\nmsg.payload = msg.slots;\nif (msg.payload === undefined){\n    return;\n}\nif (!msg.payload.hasOwnProperty(\"minutes\")){\n    msg.payload.minutes = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 620,
        "wires": [
            [
                "4d3a25d0.7b404c",
                "37200d47.b878e2"
            ]
        ]
    },
    {
        "id": "d96daecc.7688b",
        "type": "delay",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1000,
        "y": 620,
        "wires": [
            [
                "90e1f95.1cdad08",
                "cf113fc0.ab317"
            ]
        ]
    },
    {
        "id": "4d3a25d0.7b404c",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "alarm-calculator",
        "func": "hours = 0;\nmins = 0;\n\n// Get current time and convert it to hours (time[0]) and minutes (time[1])\ntime = new Date().toISOString();\ntime = time.split(\"T\")[1].split(\".\")[0];\ntime = time.split(\":\");\n// Adjust time to our timezone and crops it to 24h\ntime[0] = (parseInt(time[0])+1)\nif (time[0] >= 25){\n    time[0] -=24;\n}\n// Adjust time to spell \"9\" instead of \"09\" \n// and e.g. \"12 Uhr\" instead of \"12 Uhr 0\"\ntime[1] = parseInt(time[1]);\ntime[2] = parseInt(time[2]);\n\n// Calculates the delay\nhours = msg.payload.hours - time[0];\nmins = msg.payload.minutes - time[1];\n\nif (hours < 0){\n    hours += 24;\n    mins = Math.abs(mins);\n}else if (hours === 0 && mins < 0){\n    hours += 24;\n\n}\n\nmsg.delay = ((hours*60 + mins)*60000) - (time[2]*1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 620,
        "wires": [
            [
                "d96daecc.7688b"
            ]
        ]
    },
    {
        "id": "37200d47.b878e2",
        "type": "persist in",
        "z": "b105e2ff.0c3ab",
        "name": "Alarm",
        "storageNode": "32225eeb.5c6542",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "f43c871c.58e898",
        "type": "persist out",
        "z": "b105e2ff.0c3ab",
        "name": "Alarm",
        "storageNode": "32225eeb.5c6542",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "b63728cc.f21318"
            ]
        ]
    },
    {
        "id": "90e1f95.1cdad08",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "clear alarm",
        "func": "return {};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 740,
        "wires": [
            [
                "37200d47.b878e2"
            ]
        ]
    },
    {
        "id": "12fe07e0.86c588",
        "type": "inject",
        "z": "b105e2ff.0c3ab",
        "name": "clearAlarm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "90e1f95.1cdad08"
            ]
        ]
    },
    {
        "id": "b63728cc.f21318",
        "type": "delay",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 680,
        "wires": [
            [
                "73b3e363.b668cc"
            ]
        ]
    },
    {
        "id": "bfa82231.ecc95",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "feedback",
        "func": "//creates tts-feedback for command\nmsg.payload = msg.slots;\nhours = msg.payload.hours;\nif (msg.payload.hasOwnProperty(\"minutes\")){\n    mins = msg.payload.minutes;\n}else{\n    mins = \"\";\n}\n\nmsg.payload = \"Alles klar, ich habe deinen Wecker auf \"+hours+\" Uhr \"+mins+\" gestellt.\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 560,
        "wires": [
            [
                "4af62209.5958cc"
            ]
        ]
    },
    {
        "id": "451c5099.c1a0b",
        "type": "comment",
        "z": "b105e2ff.0c3ab",
        "name": "Timer",
        "info": "",
        "x": 170,
        "y": 980,
        "wires": []
    },
    {
        "id": "7b14bcbc.353414",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "timer-calculator",
        "func": "//calculates time to delay the message-object\nmsg.payload = msg.slots;\n\ntime = 0;\nif (msg.payload.hasOwnProperty(\"hours\")){\n    time += msg.payload.hours*3600;\n}\nif (msg.payload.hasOwnProperty(\"minutes\")){\n    time += msg.payload.minutes*60;\n}\nif (msg.payload.hasOwnProperty(\"seconds\")){\n    time += msg.payload.seconds;\n}\nmsg.delay = time*1000;\nmsg.payload = \"Ding Ding Ding Teimer ist um\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "c76f31bf.8f456"
            ]
        ]
    },
    {
        "id": "c76f31bf.8f456",
        "type": "delay",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 1120,
        "wires": [
            [
                "65da2b14.30f0d4"
            ]
        ]
    },
    {
        "id": "2b7e092e.e03636",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "feedback",
        "func": "msg.payload = \"Alles klar, los geehts\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1040,
        "wires": [
            [
                "65da2b14.30f0d4"
            ]
        ]
    },
    {
        "id": "65da2b14.30f0d4",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "SetTimer-TTS-Out",
        "links": [
            "24c67ec.ea70882",
            "d8f147bb.ccdd68"
        ],
        "x": 755,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4af62209.5958cc",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "SetAlarm-TTS-Out",
        "links": [
            "24c67ec.ea70882",
            "d8f147bb.ccdd68"
        ],
        "x": 755,
        "y": 560,
        "wires": []
    },
    {
        "id": "cf113fc0.ab317",
        "type": "file in",
        "z": "b105e2ff.0c3ab",
        "name": "Klassischer Weckerton",
        "filename": "/home/pi/klassischer-weckerton(www.klingelkasten.de).wav",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "7a68a102.ab14c"
            ]
        ]
    },
    {
        "id": "fbd97cfc.806e6",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "AlarmSound-Wav-Out",
        "links": [
            "cc069730.177e38",
            "49cec59c.a27e6c"
        ],
        "x": 1735,
        "y": 600,
        "wires": []
    },
    {
        "id": "c6652de5.9483d",
        "type": "link in",
        "z": "b105e2ff.0c3ab",
        "name": "Alarm-Command-Request-In",
        "links": [
            "66252eca.a7ba3",
            "874686c1.6c8fa8"
        ],
        "x": 1015,
        "y": 780,
        "wires": [
            [
                "cf5eb2c.806815"
            ]
        ]
    },
    {
        "id": "7001c09c.0b1d1",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "Alarm-Command-Request-Out",
        "links": [
            "b99bcc04.7185",
            "813a0bca.186508"
        ],
        "x": 1935,
        "y": 700,
        "wires": []
    },
    {
        "id": "6f8921b4.6ba6a",
        "type": "delay",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1800,
        "y": 700,
        "wires": [
            [
                "7001c09c.0b1d1"
            ]
        ]
    },
    {
        "id": "deaeef82.6d53f",
        "type": "switch",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "property": "intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "DeleteAlarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1270,
        "y": 780,
        "wires": [
            [
                "cf113fc0.ab317"
            ],
            [
                "f66f788e.9b6cb8"
            ],
            [
                "f66f788e.9b6cb8"
            ]
        ]
    },
    {
        "id": "f66f788e.9b6cb8",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "feedback",
        "func": "//creates command-feedback after stoping the alarm\nmessage = {};\nmessage.payload = \"Guten Morgen\";\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1500,
        "y": 780,
        "wires": [
            [
                "8f11d750.119658"
            ]
        ]
    },
    {
        "id": "8f11d750.119658",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "AlarmFinished-TTS-Out",
        "links": [
            "24c67ec.ea70882",
            "d8f147bb.ccdd68"
        ],
        "x": 1635,
        "y": 780,
        "wires": []
    },
    {
        "id": "166f84df.0bbf7b",
        "type": "debug",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 840,
        "wires": []
    },
    {
        "id": "7a68a102.ab14c",
        "type": "wav-headers",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "action": "get",
        "channels": 1,
        "samplerate": 22050,
        "bitwidth": 16,
        "x": 1530,
        "y": 620,
        "wires": [
            [
                "fbd97cfc.806e6"
            ],
            [
                "4755cda1.0a2e04"
            ]
        ]
    },
    {
        "id": "4755cda1.0a2e04",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "requests command",
        "func": "//creates delay based on alarmsound and a message for command-request\nmessage = {};\nmessage.delay = msg.payload.duration*1000+500;\nmessage.commandRequestId = \"alarm\";\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1590,
        "y": 700,
        "wires": [
            [
                "6f8921b4.6ba6a"
            ]
        ]
    },
    {
        "id": "feb5ff87.12655",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "DeleteAlarm/GetAlarm-TTS-Out",
        "links": [
            "24c67ec.ea70882",
            "d8f147bb.ccdd68"
        ],
        "x": 955,
        "y": 800,
        "wires": []
    },
    {
        "id": "d9e774f1.0c7c08",
        "type": "persist out",
        "z": "b105e2ff.0c3ab",
        "name": "Alarm",
        "storageNode": "32225eeb.5c6542",
        "x": 450,
        "y": 860,
        "wires": [
            [
                "91558938.6410c8"
            ]
        ]
    },
    {
        "id": "2c9bee9.9cbde12",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "feedback",
        "func": "//wraps the alarm time into a text to be spoken (TTS)\nif (msg.hasOwnProperty(\"slots\")){\n    msg.payload = msg.slots;\n    hours = msg.payload.hours;\n    mins = msg.payload.minutes;\n    \n    if (mins === 0){\n        mins = \"\";\n    }\n    \n    msg.payload = \"Dein Wecker klingelt um \"+hours+\" Uhr \"+mins;\n}else{\n    msg.payload = \"Derzeit ist kein wecker gestellt\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 860,
        "wires": [
            [
                "feb5ff87.12655"
            ]
        ]
    },
    {
        "id": "86681a7.87e5ce8",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "feedback",
        "func": "msg.payload = \"Alles klar, ich habe deinen wecker gelöscht\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 800,
        "wires": [
            [
                "feb5ff87.12655"
            ]
        ]
    },
    {
        "id": "91558938.6410c8",
        "type": "delay",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 620,
        "y": 860,
        "wires": [
            [
                "2c9bee9.9cbde12"
            ]
        ]
    },
    {
        "id": "cf5eb2c.806815",
        "type": "function",
        "z": "b105e2ff.0c3ab",
        "name": "filter by id",
        "func": "var source = msg.sessionId.split(\"I\")[0];\nif (source === \"alarm\"){\n    return msg;\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 780,
        "wires": [
            [
                "deaeef82.6d53f",
                "166f84df.0bbf7b"
            ]
        ]
    },
    {
        "id": "29c82ed0.ee8442",
        "type": "link in",
        "z": "b105e2ff.0c3ab",
        "name": "Time/Alarm/Timer-In",
        "links": [
            "220da574.cd680a"
        ],
        "x": 195,
        "y": 80,
        "wires": [
            [
                "6854626b.493a7c"
            ]
        ]
    },
    {
        "id": "6854626b.493a7c",
        "type": "switch",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "property": "intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GetTime",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetAlarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DeleteAlarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GetAlarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetTimer",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "ea01601e.a6dd1"
            ],
            [
                "f9620138.0b684"
            ],
            [
                "b0dc638c.a11fd"
            ],
            [
                "2326542e.b8fdcc"
            ],
            [
                "9f5b9673.3400d8"
            ]
        ]
    },
    {
        "id": "63d0db33.65d8c4",
        "type": "link in",
        "z": "b105e2ff.0c3ab",
        "name": "SetTimer-In",
        "links": [
            "c02680b.f43e68",
            "9f5b9673.3400d8"
        ],
        "x": 195,
        "y": 1080,
        "wires": [
            [
                "7b14bcbc.353414",
                "2b7e092e.e03636"
            ]
        ]
    },
    {
        "id": "ef5276f.1b9dd88",
        "type": "link in",
        "z": "b105e2ff.0c3ab",
        "name": "GetAlarm-In",
        "links": [
            "13a80a32.919986",
            "2326542e.b8fdcc"
        ],
        "x": 195,
        "y": 860,
        "wires": [
            [
                "d9e774f1.0c7c08"
            ]
        ]
    },
    {
        "id": "af6132be.93c3b",
        "type": "link in",
        "z": "b105e2ff.0c3ab",
        "name": "DeleteAlarm-In",
        "links": [
            "441acc6c.857b64",
            "b0dc638c.a11fd"
        ],
        "x": 195,
        "y": 800,
        "wires": [
            [
                "86681a7.87e5ce8",
                "90e1f95.1cdad08"
            ]
        ]
    },
    {
        "id": "ccf9e921.337608",
        "type": "link in",
        "z": "b105e2ff.0c3ab",
        "name": "SetAlarm-In",
        "links": [
            "8aa65f11.11454",
            "f9620138.0b684"
        ],
        "x": 195,
        "y": 620,
        "wires": [
            [
                "73b3e363.b668cc",
                "bfa82231.ecc95"
            ]
        ]
    },
    {
        "id": "7c299fac.5f1cf",
        "type": "link in",
        "z": "b105e2ff.0c3ab",
        "name": "Time-Request-In",
        "links": [
            "ea01601e.a6dd1"
        ],
        "x": 195,
        "y": 360,
        "wires": [
            [
                "c0fff348.6ea8f"
            ]
        ]
    },
    {
        "id": "ea01601e.a6dd1",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "links": [
            "7c299fac.5f1cf"
        ],
        "x": 515,
        "y": 40,
        "wires": []
    },
    {
        "id": "f9620138.0b684",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "links": [
            "ccf9e921.337608",
            "6149d981.a496d8"
        ],
        "x": 555,
        "y": 60,
        "wires": []
    },
    {
        "id": "b0dc638c.a11fd",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "links": [
            "af6132be.93c3b",
            "28dada74.f38cc6"
        ],
        "x": 515,
        "y": 80,
        "wires": []
    },
    {
        "id": "2326542e.b8fdcc",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "links": [
            "ef5276f.1b9dd88",
            "8911a342.dccbc"
        ],
        "x": 555,
        "y": 100,
        "wires": []
    },
    {
        "id": "9f5b9673.3400d8",
        "type": "link out",
        "z": "b105e2ff.0c3ab",
        "name": "",
        "links": [
            "63d0db33.65d8c4"
        ],
        "x": 515,
        "y": 120,
        "wires": []
    },
    {
        "id": "32225eeb.5c6542",
        "type": "persist-store",
        "z": "",
        "filename": "persistence.json",
        "interval": "60"
    }
]